$bg-orange: #fda085;
$bg-yellow: #f6d365;
$red: #ff6f47;

@mixin inside-out($bg, $clr) {
    transition: all 0.3s ease;
    &:hover {
        background: $clr !important;
        color: $bg;
    }
}

@keyframes bg-animation {
    0% { background-position: left; }
    100% { background-position: right; }
}