@import './stuff';
html { scrollbar-color: #909090 transparent }
header { font-size: 2rem }
.filter-todo { padding: 1rem }
.todo li { flex: 1;}
.trash-btn { @include inside-out($red, #f7fffe) }
.hidden { display: none; }
:focus { outline: none }
.fa-trash,.fa-check { pointer-events: none }
h1, li:not(.todo-item) { user-select: none }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, $bg-yellow, $bg-orange);
    background-size: 325%;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    animation: bg-animation 25s infinite alternate;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    input,
    button {
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
        background: white;
    }
    button {
        color: $red;
        background: #f7fffe;
        cursor: pointer;
        @include inside-out(#f7fffe, $red);
    }
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo-item {
    padding: 0rem 0.5rem;
    overflow-wrap: break-word !important;
    margin: auto;
    width: 70%;
}

.todo {
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    transition: all 1s ease;
    width: auto;
    margin: 0 auto 10px;
    align-items: start !important;
    justify-content: space-between !important;
    div { display: flex }
}

.trash-btn,
.complete-btn {
    background: $red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #0cd4a2 !important;
    @include inside-out(#0cd4a2, #f7fffe);
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    color: $red;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    user-select: none;
    width: 12rem;
}

.select {
    margin: 1rem;
    margin-left: 0 !important;
    position: relative;
    overflow: hidden;
    height: inherit;
    &::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        background: $red;
        cursor: pointer;
        pointer-events: none;
    }
}

::-webkit-scrollbar {
    width: 16px;
    background: none;
    & * { background: transparent }
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: content-box;
    background-color: #999;
    &:hover { background: #888; }
}

.todo-input:focus::placeholder { text-indent: -1000%; }
.todo-input::placeholder {
    color: #000;
    opacity: .55;
    text-indent: 0;
    transition: text-indent 5s .1s linear;
}

::selection {
    color: #ccc;
    background-color: darkslategrey;
}

.navbar {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar-item {
    $margin: .35714285714286rem;
    font-size: 14px;
    float: right;
    font-family: "Poppins", sans-serif;
    border: none;
    margin: $margin 0 0 $margin;
    background-color: #e83e86;
    border-radius: .167rem;
    &:last-child { margin: $margin 0 0 $margin !important; }
    display: block;
    background-color: #e83e86;
    color: white;
    text-align: center;
    padding: .9rem 1.2em;
    text-decoration: none;
    cursor: pointer;
    @include inside-out(#e83e86, white);
}

@media (min-width: 100px) and (max-width: 641px) {
    form > button { background-color: white }
    .todo-input {
        width: 80%;
        margin-left: 5px;
    }
    .select {
        margin: 0;
        margin-right: 5px
    }
    .todo {
        width: auto;
        div { display: flex }
    }
}