@charset "UTF-8";
@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
html {
  scrollbar-color: #909090 transparent;
}

header {
  font-size: 2rem;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn {
  transition: all 0.3s ease;
}
.trash-btn:hover {
  background: #f7fffe !important;
  color: #ff6f47;
}

.hidden {
  display: none;
}

:focus {
  outline: none;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

h1, li:not(.todo-item) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  background-size: 325%;
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  -webkit-animation: bg-animation 25s infinite alternate;
          animation: bg-animation 25s infinite alternate;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header input,
header button,
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
header button,
form button {
  color: #ff6f47;
  background-color: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
header button:hover,
form button:hover {
  background: #ff6f47 !important;
  color: #f7fffe;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 95%;
  list-style: none;
}

.todo-item {
  padding: 0rem 0.5rem;
  overflow-wrap: break-word !important;
  margin: auto;
  width: 70%;
}

.todo {
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  transition: all 1s ease;
  width: auto;
  max-width: 95%;
  margin: 0 auto 10px;
  align-items: flex-start !important;
  justify-content: space-between !important;
}

.edit-btn,
.save-btn,
.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.edit-btn,
.save-btn {
  background-color: #777 !important;
  transition: all 0.3s ease;
}
.edit-btn:hover,
.save-btn:hover {
  background: #f7fffe !important;
  color: #777;
}

.complete-btn {
  background: #0cd4a2 !important;
  transition: all 0.3s ease;
}
.complete-btn:hover {
  background: #fff !important;
  color: #0cd4a2;
}

.completed {
  -webkit-text-decoration: line-through currentColor;
          text-decoration: line-through currentColor;
  opacity: 0.6;
}
.completed a {
  transition: all 225ms ease-in-out;
  -webkit-text-decoration: line-through black;
          text-decoration: line-through black;
}
.completed a:hover {
  -webkit-text-decoration: none transparent;
          text-decoration: none transparent;
}
.completed a::-moz-selection {
  color: #ccc;
  background-color: #345757;
  text-decoration: underline currentColor;
}
.completed a::selection {
  color: #ccc;
  background-color: #345757;
  -webkit-text-decoration: underline currentColor;
          text-decoration: underline currentColor;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  background-color: #fff;
  height: 3.31rem;
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 12rem;
}

.select {
  margin: 1rem;
  margin-left: 0 !important;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 16px;
  background: none;
}
::-webkit-scrollbar * {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

input:focus::-moz-placeholder {
  text-indent: -1000%;
}

input:focus:-ms-input-placeholder {
  text-indent: -1000%;
}

input:focus::placeholder {
  text-indent: -1000%;
}

input::-moz-placeholder {
  color: #000;
  opacity: 0.55;
  text-indent: 0;
  -moz-transition: text-indent 5s 0.1s linear;
  transition: text-indent 5s 0.1s linear;
}

input:-ms-input-placeholder {
  color: #000;
  opacity: 0.55;
  text-indent: 0;
  -ms-transition: text-indent 5s 0.1s linear;
  transition: text-indent 5s 0.1s linear;
}

input::placeholder {
  color: #000;
  opacity: 0.55;
  text-indent: 0;
  transition: text-indent 5s 0.1s linear;
}

#edit-input {
  padding: 0rem 0.5rem;
  overflow-wrap: break-word !important;
  margin: auto;
  width: 87.8%;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1.5px solid #bbb !important;
  transition: border-bottom 200ms linear;
}
#edit-input:focus {
  border-bottom: 1.5px solid #4d90fe !important;
}
#edit-input:hover {
  border-bottom: 1.5px solid #7b7b7b !important;
}

::-moz-selection {
  color: #ccc;
  background-color: #2f4f4f;
}

::selection {
  color: #ccc;
  background-color: #2f4f4f;
}

a::-moz-selection {
  color: #ccc;
  background-color: #2f4f4f;
  text-decoration: underline currentColor;
}

a::selection {
  color: #ccc;
  background-color: #2f4f4f;
  -webkit-text-decoration: underline currentColor;
          text-decoration: underline currentColor;
}

.navbar {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 14px;
  float: right;
  font-family: "Poppins", sans-serif;
  border: none;
  margin: 0.3571428571rem 0 0 0.3571428571rem;
  background-color: #e83e86;
  border-radius: 0.167rem;
  display: block;
  background-color: #e83e86;
  color: white;
  text-align: center;
  padding: 0.9rem 1.2em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar-item:last-child {
  margin: 0.3571428571rem 0 0 0.3571428571rem !important;
}
.navbar-item:hover {
  background: white !important;
  color: #e83e86;
}

a {
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #0000be;
  transition: all 225ms ease-in-out;
}
a:hover {
  -webkit-text-decoration: underline currentColor;
          text-decoration: underline currentColor;
}
a:visited {
  color: #0000a5;
}

@media (min-width: 100px) and (max-width: 641px) {
  form > button {
    background-color: #edfffd;
    transition: all 0.3s ease;
  }
  form > button:hover {
    background: #ff6f47 !important;
    color: #edfffd;
  }

  .select {
    margin: 0;
    margin-right: 5px;
  }

  .todo-input {
    width: 80%;
    margin-left: 5px;
  }

  .todo-actions-list {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -3.05rem;
    width: 100%;
    background-color: #fff;
  }
  .todo-actions-list div {
    margin-left: 50%;
  }

  .todo {
    position: relative;
    margin: 0 auto 4.5rem;
  }
}/*# sourceMappingURL=App.css.map */